.comodin {

    figure{
        color: rgb(243, 241, 241);
        position: relative;
       top: 300px;
    }
    

    .comodin-container{
     
        img {
            object-fit: cover;
            height: 500px;
            width: 100%;
            margin-bottom: 70px;
            margin-top: 50px;
            
    
        }

    }
   
}